
<div class='content-container' *ngIf="mode==='show' && post">
        <div class='clr-col-12'>
        <table class='table table-responsive'>
                <tr>
                    <td class='form_label'><b>Title</b> </td>
                    <td colspan='3' class='form_value'>{{post.title}}</td>
                </tr>
                <tr>
                    <td class='form_label'><b>Content</b> </td>
                    <td colspan='3' class='form_value'>{{post.content}}</td>
                </tr>
                <tr>
                    <td class='form_label'><b>Latitude</b></td>
                    <td class='form_value'>{{post.lat}}</td>
                    <td class='form_label'><b>Longitude</b></td>
                    <td class='form_value'>{{post.long}}</td>
                </tr>
                <tr *ngIf='post.image_url'>
                    <td colspan='4'><img [src] = 'post.image_url'/></td>
                </tr>
            </table>
        </div>
  
</div>

<form [formGroup]="postForm" *ngIf="mode==='new' || (mode ==='edit' && post)">
    <div class='content-container'>
            <div class='clr-col-12'>
                <table class='table table-responsive'>
                    <tr>
                        <td class='form_label'>Title *</td>
                        <td colspan='3'><input type='text' name='title' formControlName='title'></td>
                    </tr>
                    <tr>
                        <td class='form_label'>Content *</td>
                        <td colspan='3'><textarea name='content' rows='7' formControlName='content'></textarea>
                    </tr>
                    <tr>
                        <td class='form_label'>Latitude</td>
                        <td class='form_value'><input type='text' name='lat' formControlName='lat' [ngStyle]="{'width':'200px'}"></td>
                        <td class='form_label'>Longitude</td>
                        <td class='form_value'><input type='text' name='long' formControlName='long' [ngStyle]="{'width':'200px'}"></td>
                    </tr>
                    <tr>
                        <td class='form_label'>Image URI</td>
                        <td colspan='3'><input type='text' name='image_url' formControlName='image_url'></td>
                    </tr>
                </table>
            </div>
        
    </div>
</form>
