
<div class='row' *ngIf="mode==='show' && post">
    <div class='col-xs-12'><b>Created:</b> {{post.creation_date | date}}</div>
    <div class='col-xs-12'><b>Title:</b> {{post.title}}</div>
    <div class='col-xs-12'><b>Content:</b><br> {{post.content}}</div>
    <div class='col-xs-12'><b>Latitude:</b> {{post.lat}}</div>
    <div class='col-xs-12'><b>Longitude:</b> {{post.long}}</div>
    <div *ngIf='post.image_url' class='col-xs-12'><img [src] = 'post.image_url'/></div>
</div>

<div class='row' *ngIf="mode==='new'">
    <div class='col-xs-12'><b>Created:</b> {{post.creation_date | date}}</div>
    <div class='col-xs-12'><b>Title:</b> {{post.title}}</div>
    <div class='col-xs-12'><b>Content:</b><br> {{post.content}}</div>
    <div class='col-xs-12'><b>Latitude:</b> {{post.lat}}</div>
    <div class='col-xs-12'><b>Longitude:</b> {{post.long}}</div>
    <div class='col-xs-12'><b>Image:</b> {{post.image_url}}</div>
</div>

<div class='row' *ngIf="mode==='edit' && post">
    <div class='col-xs-12'><b>Created:</b> {{post.creation_date | date}}</div>
    <div class='col-xs-12'><b>Title:</b> {{post.title}}</div>
    <div class='col-xs-12'><b>Content:</b><br> {{post.content}}</div>
    <div class='col-xs-12'><b>Latitude:</b> {{post.lat}}</div>
    <div class='col-xs-12'><b>Longitude:</b> {{post.long}}</div>
    <div class='col-xs-12'><b>Image:</b> {{post.image_url}}</div>
</div>
