<div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-12'>
            <button class='btn btn-primary btn-sm' (click)='onNew()'>New post</button>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            <clr-datagrid>
                    <clr-dg-column>Created</clr-dg-column>
                    <clr-dg-column>Title</clr-dg-column>
                    <clr-dg-column>Content</clr-dg-column>
                    <clr-dg-column>Latitude</clr-dg-column>
                    <clr-dg-column>Longitude</clr-dg-column>
                    <clr-dg-column>Actions</clr-dg-column>
                
                    <clr-dg-row *ngFor="let post of posts">
                        <clr-dg-cell>{{post.created_at | date}}</clr-dg-cell>
                        <clr-dg-cell (click)="onShow(post)" >{{post.title}}</clr-dg-cell>
                        <clr-dg-cell>{{post.content}}</clr-dg-cell>
                        <clr-dg-cell>{{post.lat}}</clr-dg-cell>
                        <clr-dg-cell>{{post.long}}</clr-dg-cell>
                        <clr-dg-cell>
                            <clr-icon shape="pencil" (click)="onEdit(post)" class='action_icon' title='Edit post'></clr-icon>
                            <clr-icon shape="trash" (click)="onDelete(post)" class='action_icon' title='Delete post'></clr-icon>
                        </clr-dg-cell>
                    </clr-dg-row>
                
                    <clr-dg-footer>{{posts.length}} posts</clr-dg-footer>
                </clr-datagrid>
        </div>
    </div>    
</div>
<clr-modal [(clrModalOpen)]="deleteModalOpen">
    <h3 class="modal-title">Post deletion</h3>
    <div class="modal-body">
        <p>Are you sure you want to delete this post?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelPostDeletion()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="doPostDeletion()">Ok</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showModalOpen" [clrModalSize]="'xl'">
    <h3 class="modal-title">Show post</h3>
    <div class="modal-body">
        <app-post mode='show' [post]='currentPost'>
        </app-post>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="hideShowPostModal()">Ok</button>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="editModalOpen" [clrModalSize]="'xl'">
    <h3 class="modal-title">Post edition</h3>
    <div class="modal-body">
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelPostEdition()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="doPostEdition()">Ok</button>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="newModalOpen" [clrModalSize]="'xl'">
    <h3 class="modal-title">New post</h3>
    <div class="modal-body">
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelPostCreation()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="doPostCreation()">Ok</button>
    </div>
</clr-modal>